.swiper-button-prev, .swiper-container-rtl .swiper-button-next, .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background: none; }
  .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after, .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    color: #163e51;
    font-size: 70px;
    font-family: 'icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased; }

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  content: "\f104"; }

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  content: "\f105"; }
