header#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 77px;
  background-color: #000;
  padding: 13px 60px 10px;
  display: table;
  width: 100%;
  z-index: 999999; }
  header#header #nav-brand {
    display: table-cell;
    vertical-align: middle;
    width: 244px; }
    header#header #nav-brand > img {
      width: 244px; }
  header#header nav#nav {
    display: table-cell;
    vertical-align: middle;
    text-align: right; }
    header#header nav#nav > ul {
      list-style: none; }
      header#header nav#nav > ul > li {
        display: inline-block;
        vertical-align: middle; }
        header#header nav#nav > ul > li > a {
          color: #fff;
          font-size: 14px;
          font-weight: 600;
          display: inline-block;
          vertical-align: middle;
          padding: 0 5px; }
