
<section id="brandingbar">
  <div class="container">
    <div class="table-layout">
      <div class="col"><img src="assets/images/brand/i_xbtce.png" alt=""/></div>
      <div class="col"><img src="assets/images/brand/i_bitmex.png" alt=""/></div>
      <div class="col"><img src="assets/images/brand/i_poloniex.png" alt=""/></div>
      <div class="col"><img src="assets/images/brand/i_kraken.png" alt=""/></div>
      <div class="col"><img src="assets/images/brand/i_bitfinex.png" alt=""/></div>
    </div>
  </div>
</section>
<footer class="text-center" id="footer">
  <div class="container">
    <nav id="footernav">
      <ul>
        <li><a href="#">HOME</a></li>
        <li><a href="#">HOME</a></li>
        <li><a href="#">HOME</a></li>
        <li><a href="#">HOME</a></li>
        <li><a href="#">HOME</a></li>
        <li><a href="#">HOME</a></li>
        <li><a href="#">HOME</a></li>
        <li><a href="#">HOME</a></li>
        <li><a href="#">HOME</a></li>
        <li><a href="#">HOME</a></li>
      </ul>
    </nav>
    <div id="footerbrand"><img src="assets/images/logo_white.png" alt="logo"/>
      <p class="title">CRYP TRADE CAPITAL HOLDING SL,</p>
      <p>Gesellschaft mit beschränkter Haftung.</p>
    </div>
    <div class="social-bar">
      <ul>
        <li><a href="#"><i class="icon icon-facebook"></i></a></li>
        <li><a href="#"><i class="icon icon-twitter"></i></a></li>
        <li><a href="#"><i class="icon icon-instagram"></i></a></li>
        <li><a href="#"><i class="icon icon-youtube"></i></a></li>
      </ul>
    </div>
    <nav class="links-bar">
      <ul>
        <li><a class="link" href="#">Belgeler</a></li>
        <li><a class="link" href="#">Brand book</a></li>
        <li><a class="link" href="#">Hükümler ve Şartlar</a></li>
        <li><a class="link" href="#">Gizlilik Politikası</a></li>
      </ul>
    </nav>
  </div>
  <div id="copyright"><a rel="license" href="#">Copyright © CRYP TRADE CAPITAL LTD. </a></div>
</footer>