
<header id="header"><a id="nav-brand"><img src="assets/images/logo.png"/></a>
  <nav id="nav">
    <ul>
      <li><a href="#">ANA SAYFA</a></li>
      <li><a href="#">HAKKIMIZDA</a></li>
      <li><a href="#">YATIRIMLAR</a></li>
      <li><a href="#">KARİYER</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">İLETİŞİM</a></li>
      <li><a href="#">TR</a></li>
      <li>
        <ul id="nav-btn"><a class="btn btn-red" href="#">KAYIT OL</a><a class="btn btn-blue" href="#">GİRİŞ YAP</a></ul>
      </li>
    </ul>
  </nav>
</header>