<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>CRY</title>
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon"/><!--[if lt IE 9]>
<script src="assets/lib/html5shiv.js">
<![endif]-->
<!--[if lt IE 8]>
<link href="assets/icon-fonts/ie7/ie7.css"/> 
<![endif]-->
    <style>
      body{
        overflow: hidden;
      }
      #loader{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 99999;
      }
      #loader > #loader-img{
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -64px;
        margin-top: -64px;
      }
    </style>
    <link rel="stylesheet" href="assets/lib/styles/lib.min.css"/>
    <link rel="stylesheet" href="assets/styles/app.min.css"/>
  </head>
  <body>
    <!--#loaderimg(src="assets/images/loader.gif")#loader-img
    -->
    <header id="header"><a id="nav-brand"><img src="assets/images/logo.png"/></a>
      <nav id="nav">
        <ul>
          <li><a href="#">ANA SAYFA</a></li>
          <li><a href="#">HAKKIMIZDA</a></li>
          <li><a href="#">YATIRIMLAR</a></li>
          <li><a href="#">KARİYER</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">İLETİŞİM</a></li>
          <li><a href="#">TR</a></li>
          <li>
            <ul id="nav-btn"><a class="btn btn-red" href="#">KAYIT OL</a><a class="btn btn-blue" href="#">GİRİŞ YAP</a></ul>
          </li>
        </ul>
      </nav>
    </header>
    <section id="brandingbar">
      <div class="container">
        <div class="table-layout">
          <div class="col"><img src="assets/images/brand/i_xbtce.png" alt=""/></div>
          <div class="col"><img src="assets/images/brand/i_bitmex.png" alt=""/></div>
          <div class="col"><img src="assets/images/brand/i_poloniex.png" alt=""/></div>
          <div class="col"><img src="assets/images/brand/i_kraken.png" alt=""/></div>
          <div class="col"><img src="assets/images/brand/i_bitfinex.png" alt=""/></div>
        </div>
      </div>
    </section>
    <footer class="text-center" id="footer">
      <div class="container">
        <nav id="footernav">
          <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">HOME</a></li>
            <li><a href="#">HOME</a></li>
            <li><a href="#">HOME</a></li>
            <li><a href="#">HOME</a></li>
            <li><a href="#">HOME</a></li>
            <li><a href="#">HOME</a></li>
            <li><a href="#">HOME</a></li>
            <li><a href="#">HOME</a></li>
            <li><a href="#">HOME</a></li>
          </ul>
        </nav>
        <div id="footerbrand"><img src="assets/images/logo_white.png" alt="logo"/>
          <p class="title">CRYP TRADE CAPITAL HOLDING SL,</p>
          <p>Gesellschaft mit beschränkter Haftung.</p>
        </div>
        <div class="social-bar">
          <ul>
            <li><a href="#"><i class="icon icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon icon-instagram"></i></a></li>
            <li><a href="#"><i class="icon icon-youtube"></i></a></li>
          </ul>
        </div>
        <nav class="links-bar">
          <ul>
            <li><a class="link" href="#">Belgeler</a></li>
            <li><a class="link" href="#">Brand book</a></li>
            <li><a class="link" href="#">Hükümler ve Şartlar</a></li>
            <li><a class="link" href="#">Gizlilik Politikası</a></li>
          </ul>
        </nav>
      </div>
      <div id="copyright"><a rel="license" href="#">Copyright © CRYP TRADE CAPITAL LTD. </a></div>
    </footer>
    <script src="assets/lib/scripts/lib.min.js"></script><!--[if lt IE 8]>
<script src="assets/icon-fonts/ie7/ie7.js"></script>
<![endif]-->
    <script src="assets/scripts/app.min.js"></script>
  </body>
</html>